<script>
	import Vue from 'vue'
	import {
		g_config
	} from '@/static/global.config.js'

	export default {
		data() {
			return {}
		},
		onLaunch: function() {
			this.autoUpdate()
		},
		// 关闭小程序，打开其他页面触发
		onHide: function() {},
		onShow() {},
		onUnload() {
			console.log('程序卸载了！！！！！！！！！！')
		},
		methods: {

			// // 强制用户更新小程序
			autoUpdate() {
				var self = this
				// 获取小程序更新机制兼容
				if (wx.canIUse('getUpdateManager')) {
					const updateManager = wx.getUpdateManager()
					//1. 检查小程序是否有新版本发布
					updateManager.onCheckForUpdate(function(res) {
						// 请求完新版本信息的回调
						if (res.hasUpdate) {
							//检测到新版本，需要更新，给出提示
							wx.showModal({
								title: '更新提示',
								content: '检测到新版本，是否下载新版本并重启小程序？',
								success: function(res) {
									if (res.confirm) {
										//2. 用户确定下载更新小程序，小程序下载及更新静默进行
										self.downLoadAndUpdate(updateManager)
									} else if (res.cancel) {
										console.log('用户取消更新小程序')
									}
								}
							})
						}
					})
				} else {
					// 如果希望用户在最新版本的客户端上体验您的小程序，可以这样子提示
					wx.showModal({
						title: '提示',
						content: '当前微信版本过低，无法使用该功能，请升级到最新微信版本后重试。'
					})
				}
			},
			// 下载小程序新版本并重启应用
			downLoadAndUpdate(updateManager) {
				var self = this
				wx.showLoading();
				//静默下载更新小程序新版本
				updateManager.onUpdateReady(function() {
					wx.hideLoading()
					//新的版本已经下载好，调用 applyUpdate 应用新版本并重启
					updateManager.applyUpdate()
				})
				updateManager.onUpdateFailed(function() {
					// 新的版本下载失败
					wx.showModal({
						title: '已经有新版本了哟~',
						content: '新版本已经上线啦~，请您删除当前小程序，重新搜索打开哟~',
					})
				})
			}

		}
	}
</script>

<style lang="scss">
	/* 注意要写在第一行，同时给style标签加入lang="scss"属性 */
	@import "@/uni_modules/uview-ui/index.scss";
	/*每个页面公共css */
	@import "/wxcomponents/vant/common/index.wxss";
	/* 全局公用样式 */
	@import '/common/uni.css';
	@import './common/style/global.css';
	// 引入自定义图标库
	@import './common/icon.css'
</style>
