<template>
	<view class="navbar custom-class" :style="{height:globalData.navHeight + 'px'}">
	  <view class="navbar-action-wrap navbar-action-group row item-center" :style="{top:globalData.navTop + 'px'}" style="background-color:rgba(255,255,255,0.6)">
	      <view class="navbar-action_item" @click="_navBack">返回</view>
	      <view class="navbar-action_item last" @click="_toIndex">首页</view>
	  </view>
	  <view class='navbar-title' :style="{top:globalData.navTop + 'px'}">
	    {{pageName}}
	  </view>
	</view>
</template>

<script>
	  export default{
		  props: {
		      pageName:String,
		      showNav:{
		        type:Boolean,
		        value:true
		      },
		      showHome: {
		        type: Boolean,
		        value: true
		      }
		 },
		  data(){
			  return {
				  navTop: '',
				  num:20, //字体大小
				  fontColor:'red' ,//字体颜色
				  globalData:{
					  navHeight: null,
					  navTop: null,
					  windowHeight: null
				  }
			  }
		  },
		  onShow() {
		     
		   },
		  methods: {
			  // 获取高度
			  getHeight(){
				  let menuButtonObject = wx.getMenuButtonBoundingClientRect();  // 获取胶囊按钮的信息
				  uni.getSystemInfo({
				    success: res => {
				      let statusBarHeight = res.statusBarHeight,    // 设备高度（电量，时间...显示的位置）
				        navTop = menuButtonObject.top,//胶囊按钮与顶部的距离
				        navHeight = statusBarHeight + menuButtonObject.height + (menuButtonObject.top - statusBarHeight)*2;//导航高度
				      this.globalData.navHeight = navHeight;
				      this.globalData.navTop = navTop;
				      this.globalData.windowHeight = res.windowHeight;
				    },
				    fail(err) {
				      console.log(err);
				    }
				  })
			  },
		      //回退
		      _navBack: function () {
		          uni.navigateBack({
		            delta: 1
		          })      
		      },
		      //回主页
		      _toIndex: function () {
		        uni.switchTab({
		        	url: '/pages/index/index'
		        })
		      },
		    }
	  }
</script>

<style>
	@import url("./css/navbar.css");
	
</style>
