<template>
	<view class="loginbox" v-if="showLogin">
		<van-dialog id="loginbox" @getuserinfo="getuserinfo" @getphonenumber="getphonenumber"
			:confirm-button-color="'#0064E4'" :message-align="'left'" />
	</view>
</template>

<script>
	import Dialog from '@/wxcomponents/vant/dialog/dialog';
	import {
		loginToken,
		loginSetUserInfo,
		getPhone
	} from '@/api/login.js'
	export default {
		data() {
			return {
				showLogin: true
			}
		},
		beforeMount() {
			// 判断是否已经登录，已经登录的不在弹框提示
			if (wx.getStorageSync('token') && wx.getStorageSync('userInfo') && wx.getStorageSync('userPhone')) {
				uni.$emit('loginSuccess', true)
				this.showLogin = false
			} else {
				this.showLogin = true
			}
		},
		mounted() {
			this.GetUser()
		},
		methods: {
			GetUser() {
				let _this = this
				Dialog.alert({
					context: this,
					selector: '#loginbox',
					title: '登录',
					message: '是否公开您的信息',
					confirmButtonOpenType: "getUserInfo", // 按钮的微信开放能力
					showCancelButton: true,
					confirmButtonText: "授权登录"
				}).then(() => {
					wx.login({
						success(res) {
							if (res.code) {
								//发起网络请求
								console.log('登录状态的code', res.code)
								loginToken({
									code: res.code
								}).then(res => {
									console.log(res)
									let token = res.data
									uni.setStorageSync('token', token) 
									uni.$emit('loginSuccess', true)
									//拿到用户信息后 获取 用户手机号
								})
							} else {
								console.log('登录失败！' + res.errMsg)
							}
						}
					})
				}).catch(() => {});
			},
			async getuserinfo(e) {
				this.GetUserPhone();
				wx.setStorageSync('userInfo', e.detail.userInfo)
				await loginSetUserInfo({
					avatarUrl: e.detail.userInfo.avatarUrl,
					name: e.detail.userInfo.nickName
				}).then(res => {
					console.log(res)
				})
			},
			GetUserPhone() {
				Dialog.alert({
					context: this,
					selector: '#loginbox',
					title: '登录',
					message: '是否允许获取您的手机号',
					confirmButtonOpenType: "getPhoneNumber", // 按钮的微信开放能力
					showCancelButton: true,
					confirmButtonText: "确定授权"
				}).then(() => {

				}).catch(() => {

				});
			},
			getphonenumber(e) {
				console.log(e)
				getPhone({
					code: e.detail.code
				}).then(res=> {
					wx.setStorageSync('userPhone', res.data)
				})
			}
		},

	}
</script>

<style>
</style>
