.van-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 30rpx;
}

.van-multi-ellipsis--l2,
.van-multi-ellipsis--l3 {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	/* font-size: 30rpx */
}

.van-multi-ellipsis--l3 {
	-webkit-line-clamp: 3
}
