<template>
	<view class="mine_main">
		<view class="intro">
			<view class="pa1">

			</view>
			<view class="pa2">

			</view>
			<view class="pa3">

			</view>
		</view>
		<view class="top">
			<!-- 头部 -->
			<view class="user_info_main">
				<view class="item">
					客服电话：183-3205-8605
				</view>
				<view class="item">
					客服电话：133-3134-4077
				</view>
				<view class="item">
					客服电话：181-3200-2925
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {}
		},
		onLoad() {},
		mounted() {},
		watch: {},
		methods: {}
	}
</script>

<style lang="scss">
	.user_info_main {
		font-size: 30rpx;

		width: 100%;

		.item {
			text-align: center;
			padding: 15rpx 45rpx;
		}
	}

	.intro {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;

		.pa1 {
			width: 100%;
			height: 450rpx;
			background: url('https://dongyingtiyu.top/pa1.png');
			background-size: 100% 100%;
		}

		.pa2 {
			width: 100%;
			height: 450rpx;
			background: url('https://dongyingtiyu.top/pa2.png');
			background-size: 100% 100%;
		}

		.pa3 {
			width: 100%;
			height: 450rpx;
			background: url('https://dongyingtiyu.top/pa3.png');
			background-size: 100% 100%;
		}
	}
</style>
