<template>
	<view class="start_baoming">
		<!-- 选择社区 -->
		<view class="title">
			<view class="text">所选大区:</view>
			<view class="">
				{{ region }}
			</view>
		</view>
		<view class="title">
			<view class="text">所选社区:</view>
			<view class="">
				{{ community}}
			</view>
		</view>
		<view class="title">
			<view class="text">姓名:</view>
			<u--input placeholder="请填写姓名,如张三" border="surround" clearable v-model="name">
			</u--input>
		</view>
		<view class="title">
			<view class="text">性别:</view>
			<u-radio-group v-model="sex" placement="row" class="sex_inp">
				<u-radio v-for="(item, index) in sexData" :customStyle="{marginRight: '8px'}" :key="index"
					:label="item.name" :name="item.name">
				</u-radio>
			</u-radio-group>
		</view>
		<view class="title">
			<view class="text">年龄:</view>
			<u--input placeholder="请填写年龄,如30" border="surround" clearable v-model="age">
			</u--input>
		</view>
		<view class="title">
			<view class="text">身份证:</view>
			<u--input placeholder="请填写身份证" border="surround" clearable v-model="shenfz">
			</u--input>
		</view>
		<view class="title">
			<view class="text">联系方式:</view>
			<u--input placeholder="请填写联系方式" border="surround" clearable v-model="phone">
			</u--input>
		</view>
		<view class="title">
			<view class="text">详细住址:</view>
			<u--input placeholder="请填写详细住址" border="surround" clearable v-model="address">
			</u--input>
		</view>
		<view class="title">
			<view class="text">紧急联系人:</view>
			<u--input placeholder="请填写紧急联系人" border="surround" clearable v-model="jzName">
			</u--input>
		</view>
		<view class="title">
			<view class="text">紧急人电话:</view>
			<u--input placeholder="请填写紧急人电话" border="surround" clearable v-model="jzPhone">
			</u--input>
		</view>
		<u-button type="primary" text="确认报名" @click="onsubmit"></u-button>
	</view>
</template>

<script>
	import {
		gameBaoming
	} from '@/api/login.js'
	import {
		payCommonAction
	} from '@/utils/payCommon.js'
	export default {
		components: {},
		data() {
			return {
				name: '',
				age: '',
				shenfz: '',
				phone: '',
				address: '',
				jzName: '',
				jzPhone: '',
				sex: '男',
				sexData: [{
						name: '男'
					},
					{
						name: '女'
					}
				],
				region: "", // 大区名称
				community: "" // 社区名称

			}
		},
		onLoad(option) {
			console.log(option);
			this.region = option.region
			this.community = option.community
		},
		methods: {
			onsubmit() {
				let flag = this.validateForm()
				if (flag) {
					payCommonAction(3000, this.submitBaoming)
					// payCommonAction(1, this.submitBaoming)
				}
			},
			// 提交报名
			submitBaoming() {
				console.log('yes');
				let openid = wx.getStorageSync('openid')
				gameBaoming({
					region: this.region,
					community: this.community,
					name: this.name,
					gender: this.sex,
					age: this.age,
					sfz: this.shenfz,
					phone: this.phone,
					address: this.address,
					name_jj: this.jzName,
					phone_jj: this.jzPhone,
					type: 1,
					openid: openid
				}).then(res => {
					console.log('提交个人报名', res);
					uni.navigateTo({
						url: '/pages/home/success'
					})
				})
			},
			validateForm() {
				if (!this.name) {
					uni.showToast({
						icon: 'error',
						title: '请输入姓名'
					})
					return false
				}
				if (!this.age) {
					uni.showToast({
						icon: 'error',
						title: '请输入年龄'
					})
					return false
				} else {
					let a = this.checkInteger(this.age)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '年龄格式错误'
						})
						return false
					}
				}
				if (!this.shenfz) {
					uni.showToast({
						icon: 'error',
						title: '请输入身份证号'
					})
					return false
				} else {
					let a = this.isValidIDCard(this.shenfz)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '身份证格式错误'
						})
						return false
					}
				}
				if (!this.phone) {
					uni.showToast({
						icon: 'error',
						title: '请输入联系方式'
					})
					return false
				} else {
					let a = this.validatePhone(this.phone)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '手机号格式错误'
						})
						return false
					}
				}
				if (!this.address) {
					uni.showToast({
						icon: 'error',
						title: '请输入详细住址'
					})
					return false
				}
				if (!this.jzName) {
					uni.showToast({
						icon: 'error',
						title: '紧急联系人为空'
					})
					return false
				}
				if (!this.jzPhone) {
					uni.showToast({
						icon: 'error',
						title: '紧急人电话为空'
					})
					return false
				} else {
					let a = this.validatePhone(this.jzPhone)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '紧急人电话格式错误'
						})
						return false
					}
				}
				return true
			},
			checkInteger(num) {
				num = Number(num)
				console.log(typeof num);
				if (Number.isInteger(num) && num > 0) {
					return true;
				}
				return false;
			},
			// 验证身份证
			isValidIDCard(id) {
				const regExp = /^[1-9]\d{5}(19|20)\d{2}(0\d|1[0-2])([0-2]\d|3[0-1])\d{3}[\dX]$/;
				if (!regExp.test(id)) {
					return false;
				}
				const idArr = id.split('');
				const weightArr = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
				const checkCodeArr = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];
				let sum = 0;
				for (let i = 0; i < 17; i++) {
					sum += idArr[i] * weightArr[i];
				}
				const remainder = sum % 11;
				const checkCode = checkCodeArr[remainder];
				return checkCode === idArr[17];
			},
			// 验证手机号
			validatePhone(phone) {
				const regExp = /^1[3-9]\d{9}$/;
				return regExp.test(phone);
			}
		}

	}
</script>

<style lang="scss">
	.start_baoming {
		padding: 40px 20rpx 20rpx 20rpx;
		overflow-y: scroll;

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 50rpx;

			.text {
				margin-right: 10rpx;
				width: 180rpx;
				text-align: right;
			}

			.sex_inp {
				flex: 1;
			}
		}
	}
</style>