<template>
	<view class="home_main">
		<!-- 登录授权弹框 -->
		<view class="butnnn">
			<view class="baoming_btn button redC" @click="baoming(1)">
				<!-- 单人比赛报名 -->
			</view>
			<view class="baoming_btn button " @click="baoming(2)">
				<!-- 商业团体报名 -->
			</view>
			<view class="baoming_btn button greenC" @click="baoming(3)">
				<!-- 志愿者报名 -->
			</view>
		</view>
		<view class="loginbox">
			<van-dialog id="loginbox" @getuserinfo="getuserinfo" @getphonenumber="getphonenumber"
				:confirm-button-color="'#0064E4'" :message-align="'left'" />
		</view>
		<view class="box">
			<van-popup :show="showP">
				<view class="warn">
					<view class="title">
						单人报名须知
					</view>
					<view class="text">
						<view class="innerTitle">2023年石家庄社区乒乓球大赛</view>
						<view class="innerTitle">报名同意书</view>
						<view class="innerText">一、参赛选手须知</view>
						<view class="innerText">1.以报名时间为节点，自动分组。</view>
						<view class="innerText">2.组别分为:</view>
						<view class="innerText" style="text-indent: 3em;">中青年组年龄16岁-50岁</view>
						<view class="innerText" style="text-indent: 3em;">老年组年龄51-65岁</view>
						<view class="innerText">2.1中青年男子组</view>
						<view class="innerText">2.2中青年女子组</view>
						<view class="innerText">2.3老年男子组</view>
						<view class="innerText">2.4老年女子组</view>
						<view class="innerText">3.报名费：30元</view>
						<view class="innerText">4.报名缴费成功后不予退费。</view>
						<view class="innerText">5.认可大赛组别的划分。</view>
						<view class="innerText">6.报到检录时要出示身份证原件，进行身份核实。</view>
						<view class="innerText">7.对比赛有争议者，凭录像向组委会申请复议。</view>
						<view class="innerText"> 二、奖项设置</view>
						<view class="innerText"> 1.组别冠军：20000元</view>
						<view class="innerText"> 2.组别亚军：6000元</view>
						<view class="innerText"> 3.组别季军：2000元</view>
						<view class="innerText"> 4.上述所有奖项奖金均须征收20%的个人所得税。奖金于比赛日后7个工作日内联系获奖选手进行发放。</view>
						<view class="innerText"> 二、参赛选手身体状况要求</view>
						<view class="innerText"> 所有参赛选手须身体健康，无传染病。有以下等身体状况者不易参赛：</view>
						<view class="innerText"> 1.先天性心脏病和风湿性心脏病；</view>
						<view class="innerText"> 2.高血压和脑血管疾病；</view>
						<view class="innerText"> 3.心肌炎和其他心脏病；</view>
						<view class="innerText"> 4.冠状动脉病和严重心律不齐；</view>
						<view class="innerText"> 5.血糖过高或过低的糖尿病；</view>
						<view class="innerText"> 6.妊娠；</view>
						<view class="innerText">
							三、比赛期间出现下列问题——取消参赛项成绩且本人承担相应后果。</view>
						<view class="innerText">
							1.以虚假年龄、虚假身份报名的，或者报名后由其他人员代打的；</view>
						<view class="innerText">
							2.隐瞒身体疾病的；</view>
						<view class="innerText">
							3.不服从裁判指挥的；</view>
						<view class="innerText">
							4.比赛期间谩骂、打架、滋事的；</view>
						<view class="innerText">
							5.其他违反比赛规定的行为。</view>
						<view class="innerText">
							四、保险
						</view>
						<view class="innerText">
							本次比赛为所有参赛选手和工作人员提供保险，保单以报名信息为准，任何错误的报名信息将导致无法投保，责任由报名者自行承担。
						</view>
					</view>
					<view class="button" @click="onClose">
						我同意
					</view>
				</view>
			</van-popup>
		</view>
		<view class="box">
			<van-popup :show="showP2">
				<view class="warn">
					<view class="title">
						团队报名须知
					</view>
					<view class="text">
						<view class="innerTitle">2023年石家庄商业团队赛乒乓球大赛</view>
						<view class="innerTitle">报名同意书</view>
						<view class="innerText"></view>
						<view class="innerText">一、参赛选手须知</view>
						<view class="innerText">1.以报名时间为节点，自动分组。</view>
						<view class="innerText">2.组队要求</view>
						<view class="innerText">2.1年龄不限，性别不限</view>
						<view class="innerText">2.2须7人组队</view>
						<view class="innerText">3.报名费：5000元</view>
						<view class="innerText">4.报名缴费成功后不予退费。</view>
						<view class="innerText">5.认可大赛组委会随机分组。</view>
						<view class="innerText">6.报到检录时要出示身份证原件，进行身份核实。</view>
						<view class="innerText">7.对比赛有争议者，凭录像向组委会申请复议。</view>
						<view class="innerText">二、奖项设置</view>
						<view class="innerText">1.组别冠军：100000元</view>
						<view class="innerText">2.组别亚军：30000元</view>
						<view class="innerText">3.组别季军：10000元</view>
						<view class="innerText">4.上述所有奖项奖金均须征收20%的个人所得税。奖金于比赛日后7个工作日内联系获奖选手进行发放。</view>
						<view class="innerText">二、参赛选手身体状况要求</view>
						<view class="innerText">所有参赛选手须身体健康，无传染病。有以下等身体状况者不易参赛：</view>
						<view class="innerText">1.先天性心脏病和风湿性心脏病；</view>
						<view class="innerText">2.高血压和脑血管疾病；</view>
						<view class="innerText">3.心肌炎和其他心脏病；</view>
						<view class="innerText">4.冠状动脉病和严重心律不齐；</view>
						<view class="innerText">5.血糖过高或过低的糖尿病；</view>
						<view class="innerText">6.妊娠；</view>
						<view class="innerText">三、比赛期间出现下列问题——取消参赛项成绩且本人承担相应后果。</view>
						<view class="innerText">1.以虚假年龄、虚假身份报名的，或者报名后由其他人员代打的；</view>
						<view class="innerText">2.隐瞒身体疾病的；</view>
						<view class="innerText">3.不服从裁判指挥的；</view>
						<view class="innerText">4.比赛期间谩骂、打架、滋事的；</view>
						<view class="innerText">5.其他违反比赛规定的行为。</view>
						<view class="innerText">四、保险</view>
						<view class="innerText">本次比赛为所有参赛选手和工作人员提供保险，保单以报名信息为准，任何错误的报名信息将导致无法投保，责任由报名者自行承担。</view>
					</view>
					<view class="button" @click="onClose2">
						我同意
					</view>
				</view>
			</van-popup>
		</view>
	</view>
</template>

<script>
	import {
		getTokenOpenId
	} from '@/api/login.js'
	import Dialog from '@/wxcomponents/vant/dialog/dialog'
	import Popup from '@/wxcomponents/vant/popup/index'
	import Button from '@/wxcomponents/vant/button/index'
	import {
		goPage
	} from '@/utils/index.js'
	export default {
		components: {},
		data() {
			return {
				navHeight: '', //整体顶部导航栏的高度
				statusBarHeight: '', //状态栏高度
				islogin: false,
				showP: false, // 单人报名须知
				showP2: false, // 团队报名须知
				openid: '',
				session_key: '',
				userloginCode: '' // login 返回的code
			}
		},
		onShow() {
			this.getSystemphoneInfos() // 获取手机信息，设置高度
			let flag = uni.getStorageSync('openid')
			if (flag) {
				console.log(flag);
				this.islogin = true
			} else {
				this.getUser()
				this.islogin = true
			}
		},
		methods: {
			baoming(type) {
				let flag = uni.getStorageSync('openid')
				if (!flag) {
					this.getUser()
				} else {
					if (type == 1) {
						// 单人
						if (this.islogin) {
							this.showP = true
						} else {
							this.getUser()
						}

					} else if (type == 2) {
						// 团队
						if (this.islogin) {
							this.showP2 = true
						} else {
							this.getUser()
						}
					} else {
						// 志愿者
						if (this.islogin) {
							uni.navigateTo({
								url: '../home/type2'
							})
						} else {
							this.getUser()
						}
					}
				}
			},
			// 单人同意
			onClose() {
				this.showP = false
				uni.navigateTo({
					url: '../home/type1'
				})
			},
			// 团队同意
			onClose2() {
				this.showP2 = false
				uni.navigateTo({
					url: '../home/type3'
				})
			},
			getUser() {
				Dialog.alert({
					context: this,
					selector: "#loginbox",
					title: "登录提示",
					message: '您需要授权登录才能报名',
					confirmButtonOpenType: 'getUserInf',
					showCancelButton: true,
					confirmButtonText: '授权登录'
				}).then(res => {
					uni.login({
						provider: 'weixin',
						success: (loginRes) => {
							console.log(loginRes, loginRes.code);
							this.userloginCode = loginRes.code
							// 获取token 和openid 
							getTokenOpenId(loginRes.code).then(res => {
								console.log(res);
								uni.setStorageSync('openid', res.openid)
							})
						}
					})
				}).catch(err => {
					console.log('已拒绝');
					Dialog.alert({
						context: this,
						selector: "#loginbox",
						title: "登录提示",
						message: '您已拒绝授权'
					})
				})

			},
			// 获取手机系统信息
			getSystemphoneInfos() {
				//获取手机系统的信息（在这主要是获取状态栏和胶囊的高度）
				let {
					statusBarHeight,
					system
				} = uni.getSystemInfoSync()
				this.statusBarHeight = statusBarHeight + 10
				this.navHeight = statusBarHeight + (system.indexOf('iOS') > -1 ? 44 : 48)
				console.log(this.navHeight, this.statusBarHeight)
			},
		}
	}
</script>

<style lang="scss">
	.home_main {
		width: 100vw;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		box-sizing: border-box;
		position: relative;

		.box {
			.warn {
				width: 90vw;
				height: 80vh;
				border-radius: 40rpx;
				overflow: hidden;
				box-sizing: border-box;
				padding: 15rpx;

				.title {
					text-align: center;
					font-size: 30rpx;
					font-weight: bolder;
				}

				.text {
					width: 100%;
					height: 82%;
					overflow-y: scroll;

					.innerTitle {
						text-align: center;
						font-weight: bold;
						margin: 20rpx;
					}

					.innerText {
						padding: 10rpx;
						text-indent: 2em;
					}
				}

				.button {
					width: 400rpx;
					height: 80rpx;
					line-height: 80rpx;
					background-color: #4490ef;
					color: #fff;
					border-radius: 10rpx;
					text-align: center;
					margin: 0 auto;
					margin-top: 20rpx;
				}
			}
		}

		.butnnn {
			width: 100%;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.baoming_btn {
			flex: 1;
			width: 100%;
			color: #fff;
			background: url('https://dongyingtiyu.top/nnn2.jpg');
			background-size: 100% 100%;
		}

		.greenC {
			// background-color: #4cd964;
			background: url('https://dongyingtiyu.top/nnn3.jpg');
			background-size: 100% 100%;
		}

		.redC {
			// background-color: #dd524d;
			background: url('https://dongyingtiyu.top/nnn.png');
			background-size: 100% 100%;
		}
	}
</style>