<template>
	<view class="shequ">
		<!-- 选择社区 -->
		<view class="title">
			您已选择：{{currrentName}}
		</view>
		<view class="title2">
			请选择您所在社区
		</view>
		<view class="shequ_list">
			<view class="search">
				<u--input placeholder="请输入社区名称进行搜索" border="surround" clearable v-model="searchKey"
					@change="changeSearch">
				</u--input>
				<!-- <input class="inputStyle" type="text" placeholder="请输入社区名称进行搜索" v-model="searchKey"> -->
			</view>
			<view class="main">
				<view class="list_item" v-for="(item, index) in listData" :key="index" @click="selectShequ(item)">
					{{ item.community }}
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getCommunity
	} from '@/api/login.js'
	export default {
		components: {},
		data() {
			return {
				currrent: '',
				currrentName: '',
				searchKey: '', // 搜索关键字
				listData: []
			}
		},
		onLoad(option) {
			console.log(option);
			this.currrent = option.RegionId // 大区id
			this.currrentName = option.Region // 大区名称
		},
		onShow() {
			this.getDataByName(this.currrent)
		},
		methods: {
			changeSearch() {
				if (!this.searchKey) {
					this.listData = uni.getStorageSync('listdata')
				} else {
					let a = uni.getStorageSync('listdata')
					this.listData = a.filter(item => {
						const regex = new RegExp(this.searchKey, 'i'); // 使用正则表达式进行匹配，'i' 表示忽略大小写
						return regex.test(item.community); // 判断是否符合条件
					});
				}
			},
			getDataByName(id) {
				// 根据current 获取所有社区
				getCommunity({
					id: id
				}).then(res => {
					this.listData = res.res;
					uni.setStorageSync('listdata', this.listData)
				})
			},
			selectShequ(item) {
				uni.navigateTo({
					url: '/pages/home/baomin?community=' + item.community + '&region=' + this.currrentName
				})
			}
		}
	}
</script>

<style lang="scss">
	.shequ {
		padding: 15rpx;

		.title {
			color: #000;
			font-size: 40rpx;
			font-weight: bold;
			text-align: left;
			margin-bottom: 40rpx;
			margin-top: 40rpx;
		}

		.title2 {
			color: #000;
			font-size: 30rpx;
			font-weight: bold;
			text-align: left;
			margin-bottom: 40rpx;
			margin-top: 40rpx;
		}

		.search {
			display: flex;
			align-items: center;

			.inputStyle {
				border: 1px solid #4490fe;
				height: 80rpx;
				line-height: 80rpx;
				flex: 1;
				padding-left: 10rpx;
			}
		}

		.main {
			display: flex;
			flex-wrap: wrap;
			margin-top: 50rpx;
		}

		.list_item {
			width: 40%;
			height: 80rpx;
			text-align: center;
			line-height: 80rpx;
			background-color: #4490fe;
			color: #fff;
			border-radius: 15rpx;
			overflow: hidden;
			margin-bottom: 40rpx;
			margin-right: 20rpx;
		}
	}
</style>