<template>
	<view class="">
		<view class="success_main u-success">
			恭喜您，报名成功！
		</view>
		<view class="gzh">
		</view>
		<view class="aaa">
			订阅公众号
		</view>
		<view class="bbb">
			实时关注赛事安排
		</view>
	</view>
</template>

<script>
</script>

<style lang="scss">
	.success_main {
		text-align: center;
		font-size: 45rpx;
		padding: 80rpx 20rpx;

	}

	.gzh {
		width: 500rpx;
		height: 500rpx;
		margin: 0 auto;
		background: url('https://dongyingtiyu.top/gzh.jpg');
		background-size: 100% 100%;
	}

	.aaa,
	.bbb {
		font-size: 50rpx;
		font-weight: bold;
		text-align: center;
	}
</style>