<template>
	<view class="zhiyuanzhe">
		<view class="title">
			<view class="text">姓名:</view>
			<u--input placeholder="请填写姓名,如张三" border="surround" clearable v-model="name">
			</u--input>
		</view>
		<view class="title">
			<view class="text">身份证:</view>
			<u--input placeholder="请填写身份证" border="surround" clearable v-model="shenfz">
			</u--input>
		</view>
		<view class="title">
			<view class="text">联系方式:</view>
			<u--input placeholder="请填写联系方式" border="surround" clearable v-model="phone">
			</u--input>
		</view>
		<view class="title">
			<view class="text">详细住址:</view>
			<u--input placeholder="请填写详细住址" border="surround" clearable v-model="address">
			</u--input>
		</view>
		<u-button type="primary" text="确认报名" @click="onsubmit"></u-button>
	</view>
</template>

<script>
	import {
		gameBaoming
	} from '@/api/login.js'
	import toast from '../../uni_modules/uview-ui/libs/config/props/toast';
	export default {
		components: {},
		data() {
			return {
				name: '',
				age: '',
				shenfz: '',
				phone: '',
				address: '',
				jzName: '',
				jzPhone: '',
				sex: '',
				sexData: [{
						name: '男'
					},
					{
						name: '女'
					}
				]
			}
		},
		onLoad(option) {
			console.log(option);
		},
		methods: {
			onsubmit() {
				uni.requestPayment({

				})
				let flag = this.validateForm()
				if (flag) {
					console.log('yes');
					let openid = wx.getStorageSync('openid')
					gameBaoming({
						name: this.name,
						sfz: this.shenfz,
						phone: this.phone,
						address: this.address,
						type: 2,
						openid: openid
					}).then(res => {
						console.log(res.sucess);
						if (res.sucess == '报名成功') {
							uni.navigateTo({
								url: '/pages/home/success'
							})
						} else {
							console.log(99)
							uni.showToast({
								icon: 'error',
								title: '报名失败',
								duration: 2000
							})
						}
					})
				}
			},
			validateForm() {
				if (!this.name) {
					uni.showToast({
						icon: 'error',
						title: '请输入姓名'
					})
					return false
				}
				if (!this.shenfz) {
					uni.showToast({
						icon: 'error',
						title: '请输入身份证号'
					})
					return false
				} else {
					let a = this.isValidIDCard(this.shenfz)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '身份证格式错误'
						})
						return false
					}
				}
				if (!this.phone) {
					uni.showToast({
						icon: 'error',
						title: '请输入联系方式'
					})
					return false
				} else {
					let a = this.validatePhone(this.phone)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '手机号格式错误'
						})
						return false
					}
				}
				if (!this.address) {
					uni.showToast({
						icon: 'error',
						title: '请输入详细住址'
					})
					return false
				}
				return true
			},
			checkInteger(num) {
				num = Number(num)
				console.log(typeof num);
				if (Number.isInteger(num) && num > 0) {
					return true;
				}
				return false;
			},
			// 验证身份证
			isValidIDCard(id) {
				const regExp = /^[1-9]\d{5}(19|20)\d{2}(0\d|1[0-2])([0-2]\d|3[0-1])\d{3}[\dX]$/;
				if (!regExp.test(id)) {
					return false;
				}
				const idArr = id.split('');
				const weightArr = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
				const checkCodeArr = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];
				let sum = 0;
				for (let i = 0; i < 17; i++) {
					sum += idArr[i] * weightArr[i];
				}
				const remainder = sum % 11;
				const checkCode = checkCodeArr[remainder];
				return checkCode === idArr[17];
			},
			// 验证手机号
			validatePhone(phone) {
				const regExp = /^1[3-9]\d{9}$/;
				return regExp.test(phone);
			}
		}

	}
</script>

<style lang="scss">
	.zhiyuanzhe {
		padding: 40px 20rpx 20rpx 20rpx;
		overflow-y: scroll;

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 50rpx;

			.text {
				margin-right: 10rpx;
				width: 180rpx;
				text-align: right;
			}

			.sex_inp {
				flex: 1;
			}
		}
	}
</style>