<template>
	<view class="tuandui">
		<view class="title">
			<view class="text">团体名称:</view>
			<u--input placeholder="请填写单位名称或战队名称" border="surround" clearable v-model="name">
			</u--input>
		</view>
		<view class="title">
			<view class="text">团队负责人电话:</view>
			<u--input placeholder="请填写团队负责人电话" border="surround" clearable v-model="phone">
			</u--input>
		</view>
		<view class="title">
			<view class="text">团队成员:</view>
			<view class="add">
				<view class="inline" @click="addPeople" v-if="TempData.length <7">
					<u-icon name="plus-circle-fill" color="#2979ff" size="28"></u-icon>
					<view class="tip">
						点击添加,需要7名成员
					</view>
				</view>
				<view class="inline" v-else>
					已满7位成员
				</view>
			</view>
		</view>
		<view class="title titleadd" v-if="TempData.length !== 0">
			<view class="">
				<view class="item_people" v-for="(item, index) in TempData" :key="index">
					<view class="name">
						{{item.name}}
					</view>
					<view class="sfz">
						{{ item.sfz }}
					</view>
					<u-icon name="minus-circle-fill" color="#ff0000" size="28" @click="deletePeople(item, index)">
					</u-icon>
				</view>
			</view>

		</view>
		<u-button type="primary" text="确认报名" @click="onsubmit"></u-button>
		<u-popup :show="showpop" @close="close">
			<view class="popForm">
				<view class="title">
					<view class="text">成员姓名:</view>
					<u--input placeholder="请填写成员姓名" border="surround" clearable v-model="tempName">
					</u--input>
				</view>
				<view class="title">
					<view class="text">身份证号:</view>
					<u--input placeholder="请填写身份证号" border="surround" clearable v-model="tempShenfz">
					</u--input>
				</view>
				<u-button type="primary" text="确认添加" @click="okAdd"></u-button>
			</view>
		</u-popup>
	</view>
</template>

<script>
	import {
		DanweiBaoming
	} from '@/api/login.js'
	import {
		payCommonAction
	} from '@/utils/payCommon.js'
	export default {
		components: {},
		data() {
			return {
				showpop: false,
				name: '',
				phone: '',
				tempName: '',
				tempShenfz: '',
				TempData: [] // 添加的人员
			}
		},
		onLoad(option) {
			console.log(option);
		},
		methods: {
			onsubmit() {
				let flag = this.validateForm()
				if (flag) {
					payCommonAction(500000, this.submitBaoming)
					// payCommonAction(1, this.submitBaoming)
				}
			},
			// 报名
			submitBaoming() {
				console.log('团队yes');
				let openid = wx.getStorageSync('openid')
				// 单位报名
				DanweiBaoming({
					name: this.name,
					phone: this.phone,
					peoples: this.TempData,
					openid: openid
				}).then(res => {
					uni.navigateTo({
						url: '/pages/home/success'
					})
				})
			},
			// 删除成员
			deletePeople(item, index) {
				this.TempData.splice(index, 1)
			},
			addPeople() {
				this.showpop = true
			},
			// 添加成员
			okAdd() {
				if (!this.tempName) {
					uni.showToast({
						icon: 'error',
						title: '请输入成员名称'
					})
					return false
				}
				if (!this.tempShenfz) {
					uni.showToast({
						icon: 'error',
						title: '请输入身份证号'
					})
					return false
				} else {
					let a = this.isValidIDCard(this.tempShenfz)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '身份证格式错误'
						})
						return false
					}
				}
				this.TempData.push({
					name: this.tempName,
					sfz: this.tempShenfz
				})
				setTimeout(() => {
					this.tempName = '';
					this.tempShenfz = '';
					this.showpop = false;
				}, 0)
			},
			close() {
				this.showpop = false
			},
			validateForm() {
				if (!this.name) {
					uni.showToast({
						icon: 'error',
						title: '请输入单位名称'
					})
					return false
				}
				if (!this.phone) {
					uni.showToast({
						icon: 'error',
						title: '请输入联系方式'
					})
					return false
				} else {
					let a = this.validatePhone(this.phone)
					if (!a) {
						uni.showToast({
							icon: 'error',
							title: '手机号格式错误'
						})
						return false
					}
				}
				if (this.TempData.length !== 7) {
					uni.showToast({
						icon: 'error',
						title: '需要7位成员'
					})
					return false
				}
				return true
			},
			checkInteger(num) {
				num = Number(num)
				console.log(typeof num);
				if (Number.isInteger(num) && num > 0) {
					return true;
				}
				return false;
			},
			// 验证身份证
			isValidIDCard(id) {
				const regExp = /^[1-9]\d{5}(19|20)\d{2}(0\d|1[0-2])([0-2]\d|3[0-1])\d{3}[\dX]$/;
				if (!regExp.test(id)) {
					return false;
				}
				const idArr = id.split('');
				const weightArr = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
				const checkCodeArr = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];
				let sum = 0;
				for (let i = 0; i < 17; i++) {
					sum += idArr[i] * weightArr[i];
				}
				const remainder = sum % 11;
				const checkCode = checkCodeArr[remainder];
				return checkCode === idArr[17];
			},
			// 验证手机号
			validatePhone(phone) {
				const regExp = /^1[3-9]\d{9}$/;
				return regExp.test(phone);
			}
		}

	}
</script>

<style lang="scss">
	.tuandui {
		padding: 40px 20rpx 20rpx 20rpx;
		overflow-y: scroll;

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 50rpx;

			.text {
				margin-right: 10rpx;
				width: 180rpx;
				text-align: right;
			}

			.sex_inp {
				flex: 1;
			}

			.inline {
				display: flex;
				align-items: center;

				.tip {
					margin-left: 20rpx;
					color: #999;
				}
			}
		}

		.titleadd {
			display: flex;
			align-items: flex-start;
			margin-bottom: 50rpx;

			.item_people {
				display: flex;
				justify-content: space-between;
				margin-top: 10rpx;
				padding: 20rpx 10rpx;
				border-bottom: 1px dashed #eee;

				.name {
					width: 229rpx;
				}

				.sfz {
					width: 406rpx;
				}
			}
		}

		.popForm {
			padding: 40rpx;
		}
	}
</style>