<template>
	<view class="single_main">
		<!-- 单人报名 -->
		<view class="baoming_tishi" v-show="">
			<view class="title">
				请选择比赛大区
			</view>
			<view class="list_con" v-if="lists.length !==0">
				<view class="list" v-for="(item, index) in lists" :key="index" @click="gopage(item)">
					<view class="item">
						{{ item.Region }}
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		getDaqu
	} from '@/api/login.js'
	export default {
		data() {
			return {
				lists: []
			}
		},
		onLoad() {
			getDaqu().then(res => {
				console.log('------');
				this.lists = res.res_Region
			})
		},
		methods: {
			gopage(item) {
				uni.navigateTo({
					url: '../home/shequ?Region=' + item.Region + '&RegionId=' + item.RegionId
				})
			}
		}
	}
</script>

<style lang="scss">
	.single_main {
		padding: 10px 20px;
		box-sizing: border-box;

		.title {
			color: #000;
			font-size: 50rpx;
			font-weight: bold;
			text-align: center;
			margin-bottom: 40rpx;
			margin-top: 40rpx;
		}

		.tips {
			color: #4490fe;
			font-size: 30rpx;
			font-weight: bold;
			text-align: left;
			margin-bottom: 40rpx;
		}

		.list_con {
			display: flex;
			width: 100%;
			flex-wrap: wrap;

			.list {
				width: 30%;
				height: 200rpx;
				background-color: #4490fe;
				margin: 10rpx;
				border-radius: 10rpx;
				overflow: hidden;
			}

			.item {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 30rpx;
				font-weight: bold;
				margin-bottom: 50rpx;
			}
		}

	}
</style>